body{
    display: flex;
    flex-direction: column;
}

header{
    text-align: center;
    background-color: #999;
}

h2{
    text-align: center;
}

form{
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 25%;
    align-items: center;
}

input{
    margin: 5px;
}

button{
    width: 15%;
    margin: 5px;
}